PORT=3001
MONGODB_URI=mongodb://127.0.0.1:27017/ta_rolando
MONGODB_DB=ta_rolando
JWT_SECRET=change-me-in-production
CORS_ORIGINS=http://localhost:3000,http://localhost:3002
# SEED_FORCE=true
# SYNC_CURATED_ON_BOOT=true
# OVERPASS_URL=https://overpass-api.de/api/interpreter
# OSM_BBOX_SOUTH=-12.32
# OSM_BBOX_WEST=-39.02
# OSM_BBOX_NORTH=-12.19
# OSM_BBOX_EAST=-38.90
